# Merging Products with orders
#### 1.Importing Libraries
#### 2.Importing Files
#### 3.Checking Dataframes
#### 4.Prepping for Merge
#### 5.Merging Dataframes
#### 6.Exporting Results

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import os

## Importing Files

In [2]:
#create path variable
path=r'C:\Users\Nuno\04-2024 Instacart Basket Analysis\02 Data'

In [3]:
df_order_prods_combined = pd.read_pickle(os.path.join(path,'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_prods = pd.read_csv(os.path.join(path,'Prepared Data', 'products_checked.csv'),index_col=0)

## Checking Dataframes

In [5]:
df_order_prods_combined.shape

(32434489, 11)

In [6]:
df_order_prods_combined.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,_merge
0,2,33120,1,1,202279,3,5,9,8.0,False,both
1,2,28985,2,1,202279,3,5,9,8.0,False,both
2,2,9327,3,0,202279,3,5,9,8.0,False,both
3,2,45918,4,1,202279,3,5,9,8.0,False,both
4,2,30035,5,0,202279,3,5,9,8.0,False,both

In [7]:
#droping _merge column
df_order_prods_combined.drop(columns='_merge',inplace=True)

In [8]:
df_prods.shape

(49672, 5)

In [9]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## Prepping for Merge

In [10]:
#determining range of values in df_prods to see if possible to reduce memory space
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

In [11]:
#determining types in df_prods to see if possible to reduce memory space
df_prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [12]:
#changing types of dataframes to reduce size
df_prods['product_id'] = df_prods['product_id'].astype('int32')
df_prods['aisle_id'] = df_prods['aisle_id'].astype('int16')
df_prods['department_id'] = df_prods['department_id'].astype('int8')
df_prods.dtypes

product_id         int32
product_name      object
aisle_id           int16
department_id       int8
prices           float64
dtype: object

In [13]:
#determining rage of values in df_order_prods_combined to see if possible to reduce memory space
df_order_prods_combined.describe()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.243449e+07,3.243449e+07,3.243449e+07,3.243449e+07,3.243449e+07,3.243449e+07,3.243449e+07,3.243449e+07,3.035642e+07
mean,1.710749e+06,2.557634e+04,8.351076e+00,5.896975e-01,1.029372e+05,1.714205e+01,2.738818e+00,1.342498e+01,1.110407e+01
std,9.873007e+05,1.409669e+04,7.126671e+00,4.918886e-01,5.946648e+04,1.753504e+01,2.090049e+00,4.246365e+00,8.778914e+00
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.559430e+05,1.353000e+04,3.000000e+00,0.000000e+00,5.142100e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00
50%,1.711048e+06,2.525600e+04,6.000000e+00,1.000000e+00,1.026110e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00
75%,2.565514e+06,3.793500e+04,1.100000e+01,1.000000e+00,1.543910e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,4.968800e+04,1.450000e+02,1.000000e+00,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01

In [14]:
#determining types in df_order_prods_combined to see if possible to reduce memory space
df_order_prods_combined.dtypes

order_id                    int64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
first_order_flag             bool
dtype: object

In [15]:
#changing types of dataframes to reduce size
df_order_prods_combined['product_id'] = df_order_prods_combined['product_id'].astype('int32')
df_order_prods_combined['add_to_cart_order'] = df_order_prods_combined['add_to_cart_order'].astype('int16')
df_order_prods_combined['reordered'] = df_order_prods_combined['reordered'].astype('int8')
df_order_prods_combined['user_id'] = df_order_prods_combined['user_id'].astype('int32')
df_order_prods_combined['order_number'] = df_order_prods_combined['order_number'].astype('int8')
df_order_prods_combined['orders_day_of_week'] = df_order_prods_combined['orders_day_of_week'].astype('int8')
df_order_prods_combined['order_hour_of_day'] = df_order_prods_combined['order_hour_of_day'].astype('int8')
df_order_prods_combined.dtypes

order_id                    int64
product_id                  int32
add_to_cart_order           int16
reordered                    int8
user_id                     int32
order_number                 int8
orders_day_of_week           int8
order_hour_of_day            int8
days_since_prior_order    float64
first_order_flag             bool
dtype: object

## Merging Dataframes

In [16]:
df_merged = pd.merge(df_order_prods_combined,df_prods, on='product_id', indicator=True)

In [17]:
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [20]:
df_merged.shape

(32404859, 15)

## Exporting Results

In [19]:
#Export orders_products_merged file
df_merged.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))