### Importing Libraries
### Importing Files
### DImension Check of Dataframes
### Mergin with df_ords
### Export FIles

# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import os

# Importing Files

In [13]:
#Create path and importe files
path=r'C:\Users\Nuno\04-2024 Instacart Basket Analysis\02 Data'
df_ords_prior = pd.read_csv(os.path.join(path,'Original Data','4.6_orders_products_prior','orders_products_prior.csv'),index_col=False)
df_ords = pd.read_csv(os.path.join(path,'Prepared Data','orders_checked.csv'),index_col=0)

## Dimension Check of dataframes

In [18]:
df_ords_prior.shape

(32434489, 4)

In [29]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [31]:
# Checking Duplicates
df_ords_prior_dups = df_ords_prior[df_ords_prior.duplicated()]

In [32]:
df_ords_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [19]:
df_ords.shape

(3421083, 7)

In [21]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## Merging with df_ords

In [23]:
df_merged_large = df_ords_prior.merge(df_ords,on='order_id',indicator=True)

In [24]:
df_merged_large.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,_merge
0,2,33120,1,1,202279,3,5,9,8.0,False,both
1,2,28985,2,1,202279,3,5,9,8.0,False,both
2,2,9327,3,0,202279,3,5,9,8.0,False,both
3,2,45918,4,1,202279,3,5,9,8.0,False,both
4,2,30035,5,0,202279,3,5,9,8.0,False,both

In [26]:
#checking if the merge was complete for both tables (wrong, as it's an inner join, needs to be checked with an outer join)
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## Exporting file

In [28]:
# Export data to csv
df_merged_large.to_csv(os.path.join(path,'Prepared Data', 'orders_products_combined.csv'))

# Export data to pkl

df_merged_large.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_combined.pkl'))