# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import os

# Importing Files

In [2]:
path = r'C:\Users\Nuno\04-2024 Instacart Basket Analysis\02 Data'
df_ords_prods_merge = pd.read_pickle(os.path.join(path,'Prepared Data','orders_products_merged.pkl'))

# Checking Import

In [3]:
df_ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_name,aisle_id,department_id,prices,_merge
0,2,33120,1,1,202279,3,5,9,8.0,False,Organic Egg Whites,86,16,11.3,both
1,26,33120,5,0,153404,2,0,16,7.0,False,Organic Egg Whites,86,16,11.3,both
2,120,33120,13,0,23750,11,6,8,10.0,False,Organic Egg Whites,86,16,11.3,both
3,327,33120,5,1,58707,21,6,9,8.0,False,Organic Egg Whites,86,16,11.3,both
4,390,33120,28,1,166654,48,0,12,9.0,False,Organic Egg Whites,86,16,11.3,both

# Building/Applying Functions

## defining function with if loop to create price-category collumn

In [4]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [5]:
#applying function to dataframe
df_ords_prods_merge['price_range']= df_ords_prods_merge.apply(price_label,axis=1)

In [6]:
#checking price range frequency
df_ords_prods_merge['price_range'].value_counts()

price_range
Mid-range product    21860860
Low-range product    10126321
High range             417678
Name: count, dtype: int64

In [7]:
#checking most expensive item(s)
df_ords_prods_merge['prices'].max()

99999.0

## defining function with loc() to create price-category collumn

df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

# DIDN'T RUN LOC, AS I HAD OPTIMIZED THE MEMORY ALLOCATION OF THE DATAFRAME IN THE PREVIOUS EXERCISE, SO THE IF STATEMENT RAN FULLY

## Creating Busiest Day column

In [8]:
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

for value in df_ords_prods_merge['orders_day_of_week']:
    if value ==0:
        df_ords_prods_merge['busiest_day'] = 'Busiest day'
    elif value ==4:
        df_ords_prods_merge['busiest_day'] = 'Least busy'
    else:
        df_ords_prods_merge['busiest_day'] = 'Regularly Busy'

In [11]:
#creating list with values to add to busiest_day column
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if (value ==0):
    result.append("Busiest day")
  elif (value ==4):
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [12]:
#appending list values to busiest_day column
df_ords_prods_merge['busiest_day'] = result

In [13]:
#printing frequency of busiest_day column
df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# TASK 4.7 START

## Creating Busiest Days column

In [21]:
#creating list with values to add to busiest_days column
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if (value ==0 or value== 1):
    result.append("Busiest day")
  elif (value ==4 or value== 3):
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [23]:
#appending list values to busiest_days column
df_ords_prods_merge['busiest_days'] = result

In [24]:
#printing frequency of busiest_days column
df_ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: count, dtype: int64

In [33]:
#Checking if all columns were attributed
22416875+6204182+3783802 == 12916111+11864412+7624336

True

Doubling the scope of definition of busy day or least busy day correlated almost linearly to a doubling of the counts for those categories, which means that both the two least/most busy days had similar counts between them. The number of rows(observations) matches with the previous count for the busiest day column, which means all columns have been attributed

## Creating Busiest period of day column

In [25]:
# printing frequency of order_hour_of_day column to discover busiest periods of the day
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [26]:
#creating list with values to add to busiest_period_of_day column
result = []

for value in df_ords_prods_merge["order_hour_of_day"]:
  if value in (10,11,14,15,13,12,16,9):
    result.append("Most orders")
  elif value in (3,4,2,5,1,0,6,23):
    result.append("Fewest orders")
  else:
    result.append("Average orders")

In [27]:
#appending list values to busiest_period_of_day column
df_ords_prods_merge['busiest_period_of_day'] = result

In [28]:
#printing frequency of busiest_period_of_day column
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

# Dropping _merge column (no longer useful)

In [35]:
df_ords_prods_merge.drop(columns='_merge',inplace=True)

In [37]:
#Checking if dropped
df_ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_days,busiest_period_of_day
0,2,33120,1,1,202279,3,5,9,8.0,False,Organic Egg Whites,86,16,11.3,Mid-range product,Regularly busy,Regularly busy,Most orders
1,26,33120,5,0,153404,2,0,16,7.0,False,Organic Egg Whites,86,16,11.3,Mid-range product,Busiest day,Busiest day,Most orders
2,120,33120,13,0,23750,11,6,8,10.0,False,Organic Egg Whites,86,16,11.3,Mid-range product,Regularly busy,Regularly busy,Average orders
3,327,33120,5,1,58707,21,6,9,8.0,False,Organic Egg Whites,86,16,11.3,Mid-range product,Regularly busy,Regularly busy,Most orders
4,390,33120,28,1,166654,48,0,12,9.0,False,Organic Egg Whites,86,16,11.3,Mid-range product,Busiest day,Busiest day,Most orders

# Exporting File

In [38]:
df_ords_prods_merge.to_pickle(os.path.join(path,'Prepared Data','orders_products_derived.pkl'))